<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register form</title>
</head>
<body>
    {% block content %}

        <!-- <form action="/registerUser" method="post"> -->
            user name<input type="text" id="username" placeholder="username">
            password <input type="password" id="password" placeholder="password">
            <button type="submit">submit</button>
        <!-- </form> -->

    {% endblock %}
    <script>

        let btn = document.querySelector('button');
        btn.onclick = get_data;
        async function get_data(){
            let username  =await document.getElementById('username').value;
            let password = await document.getElementById('password').value;
            console.log(username,password);
            let result  = await fetch('/registerUser',{
                method:"post",
                headers:{
                    "Content-type":"application/json"
                },
                body:JSON.stringify({
                    username,
                    password
                })
            }).then((res) => res.json())
            console.log(result);
        }
    </script>
</body>
</html>